.btn {
    display: block;
    width: 200px;
    height: 55px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
     span{
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        
        color: #000000;
        
       
        
     }
     @media screen and (max-width: 576px) {
        width: 150px;
        height: 40px;
            span{
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
            }
    }
}

.btn.btn-shadow {
    box-shadow: 0px 0px 8px #A74650;
        span{
            color: #924851;
        }
}