footer {
    background-color: #DCBFA5;
    padding-top: 50px;
    .container{
        .footer-logo{
            background-image: url(../img/footer/logo_1.png);
            width: 243px;
            height: 103px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 auto;
        }
        .footer-menu{
            display: flex;
            row-gap: 30px;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-bottom: 1.7px solid hsla(0, 0%, 100%, 0.2);
                div{
                    a{
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1,125rem;
                        line-height: 26px;
                        font-feature-settings: 'liga' off;
                        color: #FFFFFF;
                        text-decoration: none;
                        padding: 17px;
                        @media screen and (max-width: 576px) {
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 26px;
                        }
                    }
                }
                @media screen and (max-width: 576px) {
                    flex-direction: column;
                    border-bottom: none;
                }
        }
        .footer-cop__box{
            padding: 26px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footer-copyright {
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                font-feature-settings: 'liga' off;
                color: #FFFFFF;
              
            }
            .footer-social{
                display: flex;
                column-gap: 17px;
                margin-bottom: 2rem;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 50px;
                    height: 50px;
                    background: hsla(0, 0%, 100%, 0.2);
                    border-radius: 999px;
                        i{
                            color: #FFFFFF;
                            font-size: 1.5rem;
                        
                        }
                    @media screen and (max-width: 576px) {
                        min-width: 80px;
                        height: 80px;
                        i{
                            font-size: 2rem;
                        
                        }
                    }
                }
                @media screen and (max-width: 576px) {
                    
                    justify-content: center;
                }
                
            }
            @media screen and (max-width: 576px) {
                flex-direction: column-reverse;
                justify-content: stretch;
                
            }
        }
    }
}