
.icon-facebook_1:before { content: '\e800'; } /* '' */
.icon-instagram_1:before { content: '\e801'; } /* '' */
.icon-right-menu-bars_1:before { content: '\e802'; } /* '' */
.icon-polygon_1:before { content: '\e803'; } /* '' */
